/**
* This file defines styles for specific classes.
*/

/********************** QL container (Quill) *****************/
.ql-container{
    & strong{
        font-weight: bold;
    }
    & em {
        font-style: italic;
    }
    & sub {
        vertical-align: sub;
        font-size: smaller;
    }
    & sup {
        vertical-align: super;
        font-size: smaller;
    }
}

/********************* NAVBAR ***************************/
.navbar{
    background-color: var(--color-1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &>*{
        margin: 0.5rem;
    }
    & .navbar-logo {
        display: flex;
        align-items: center;
        color: var(--gray-1);
        
        font-size: 1.7rem;
        & img{
            width: 3rem;
            height: 3rem;
            margin-right: 0.3rem;
        }
    }
    & .navbar-list li>a{
        padding: 1rem;
        display: block;
        color: var(--gray-1);
    }
    & .collapsable{
        background-color: var(--color-1);
        position: absolute;
        top: 3.4rem;
        right: -0.5rem;
        display: flex;
        flex-direction: column;
        >*{
            margin-left: 1rem;
            margin-right: 1rem;;
        }
        &>*:last-child{
            margin-bottom: 1rem;
        }
    }
}

@media only screen and (min-width: 768px) {
    .navbar{
        & .navbar-btn {
            display: none;
        }
        & .collapsable{
            position:static;
            height: auto;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            flex-grow: 1;
            overflow: visible;
            & .navbar-list{
                display: flex;
                & a{
                    position: relative;
                    &::before{
                        position: absolute;
                        content: "";
                        left: 0;
                        bottom: 0.5rem;
                        width: 0%;
                        border-bottom: solid 2px var(--gray-1);
                        transition: width 0.2s;
                    }
                    &:hover::before,
                    &.active::before{
                        width: 100%;
                   } 
                }
                &>*{
                    margin-right: 1rem;
                    position: relative;
                    &>hr{
                        background-color: black;;
                        color: black;
                        position: absolute;
                        height: 1.5rem;
                        top: 0.5rem;
                    }
                    & .navbar-sublist{
                        position: absolute;
                        top: 4rem;
                        left:0;
                        background-color: var(--color-1);
                        margin: 0;
                        box-shadow: 0px 3px 8px var(--gray-3);


                        &>*{
                            margin-left: 1rem;
                            margin-right: 1rem;
                        }
                        &>*:last-child{
                            margin-bottom: 1rem;
                        }
                    }
                }
            }
            >*{
                margin-left: 1rem;
                margin-right: 1rem;
            }
            &>*:last-child{
                margin-bottom: 0rem;
            }
        }
    }
}

/************************ Some widgets **************************************/

.option-card, button.option-card{
    --size: 1rem;
    margin: 0.5rem;
    display: block;
    width: fit-content;
    border: none;
    border-radius: 5px;
    font: var(--body-font);
    font-size: var(--size);
    position: relative;
    padding: calc(var(--size) * 2) calc(var(--size) / 2) calc(var(--size) / 2);
    text-decoration: none;
    color: var(--color-4);
    background-color: var(--color-10);
    cursor: pointer;
    &:hover{
        background-color: var(--color-9);
    }
    &:active,
    &.active
    {
        background-color: var(--color-9);
    }
    &::before{
        position: absolute;
        top: calc(var(--size) / 2);
        right: 0;
        left: 0;
        text-align: center;
        content: attr(data-icon);
        display: inline-block;
        font-family: bootstrap-icons;
        font-size: var(--size);
    }
    &.inactive{
        color: var(--gray-2);
        &:hover{
            background-color: var(--color-10);
        }
    }

}



/********************* BUTTONS  *************************/

.btn-sm {
    height: calc(1rem * 1.5);
    line-height: calc(1rem * 0.75);
    display: inline-block;
}

.btn {
    height: calc(1rem * 2);
    line-height: calc(1rem * 1);
    display: inline-block;
}

.btn-lg {
    height: calc(1rem * 3);
    line-height: calc(1rem * 2);
    display: inline-block;

}
.btn-mb{
    height: calc(1rem * 2.5);
    line-height: calc(1rem * 1);
    display: inline-block;
}
.btn-icon,
.btn-icon-lg,
.btn-icon-sm,
.btn-icon-mb{

    height: calc(1rem * 2);
    width: calc(1rem * 2);
    &.btn-icon-lg{
        height: calc(1rem * 3);
        width: calc(1rem * 3);
        &::before{
            font-size: 1.5rem;
            line-height: 2.5;
        }
    }
    &.btn-icon-sm{
        height: calc(1rem * 1.5);
        width: calc(1rem * 1.5);
        line-height: calc(1rem * 0.75);
    }
    &.btn-icon-mb{
        height: calc(1rem * 2.5);
        width: calc(1rem * 2.5);
        &::before{
            font-size: 1rem;
            line-height: rem;
        }
    }
    --button-bg-color: var(--color-10);
    --button-hover-bg-color:  var(--color-9);
    --button-active-bg-color: var(--color-8);
    --button-active-class-bg-color: var(--color-8);
    --button-color: var(--color-2);
    --button-disabled-color:var(--gray-2);
    --button-disabled-bg-color: var(--color-10);
    --button-hover-shadow: 0px 0px 2px var(--color-2);

    &::before{
        margin: -1rem;
        color: var(--button-color);
    }
    &[disabled]::before{
        color: var(--button-disabled-color);
    }
}
.chip-plus-button {
    background-color: var(--color-10);
    width: fit-content;
    padding: 0.5rem 0.5rem 0.5rem 0.9rem;
    border-radius: 2rem;
    margin: 0.2rem;
    &.active {
        background-color: var(--color-9);
    }
    & button {
        border-radius: 2rem;
        margin-left: 0.3rem
    }

}


.btn-group{
    display: flex;
    & .btn, & .btn-mb, & .btn-lg, & .btn-sm, & .btn-icon, & .btn-icon-mb, & .btn-icon-lg, & .btn-icon-sm {
        border-radius: 0px;
        &:first-child{
            border-radius: 5px 0px 0px 5px
        }
        &:last-child{
            border-radius: 0px 5px 5px 0px;
            border-right: none;
        }
    }
}

/********************** link *******************************/
a.link {
    color: var(--color-1);
    text-decoration: underline;

    &:visited {
        color: var(--color-2);
        text-decoration-color: var(--color-1);
    }
}

/********************** lists *******************************/
ul.marked,
ul.bs-marked {
    margin: 1rem 0;
    padding-left: 2.5rem;

    & li {
        --padding-left: 0.7rem;
        padding-left: var(--padding-left);
        display: list-item;
        position: static;

        & ul {
            margin: 0;
            padding-left: var(--padding-left);
        }
    }

    & li::marker {
        content: attr(data-marked);
        white-space: pre;
        ;
        color: var(--color-6);
        position: static;
        display: inline;
    }
}

ul.bs-marked li::marker {
    font-family: "bootstrap-icons";
}

ul.selectable {
    & li {
        padding: 0.25rem 1rem;
        transition: background-color 0.2s 0.05s, color 0.2s 0.05s;
        & >*{
            transition: background-color 0.2s 0.05s, color 0.2s 0.05s;
        }
        &:hover:not(.disabled),
        &:hover:not(.disabled),
        &.active {
            background-color: var(--color-7);
            &.active{
                background-color: var(--color-6);
            }
            cursor: pointer;
            color: white;
            &>*{
                color: white;
            }
        }

        &.disabled,
        &.disabled>* {
            color: var(--gray-4);

        }
    }
}


/********************** EFFECTS *****************************/
/*with js, calling toggleCollapse*/
.uncollapsing{
    animation: uncollapsing  forwards ;
    animation-duration: var(--collapsing-duration);
    overflow: hidden;
}
.collapsing {
    animation: collapsing 2s forwards;
    animation-duration: var(--collapsing-duration);
    overflow: hidden;
}
.collapsed {
    height: 0px;
    overflow: hidden;
}
@keyframes uncollapsing {
    0% {
        height: 0px;
    }
    100%{
        height: var(--scroll-height);
    }
} 
@keyframes collapsing {
    0%{
        height: var(--scroll-height);
    }
    100% {
        height: 0px;
    }
}


/********************** CURSORS *****************************/
.cursor-context-menu {cursor: context-menu;}
.cursor-pointer{cursor: pointer;}


/********************** TEXT FORMAT *************************/
.text-align-justify {text-align: justify;}
.text-align-center {text-align: center;}
.text-align-right {text-align: right;}
.text-shadow {text-shadow: 2px 2px 2px black;}

/********************* FONT *********************************/
.bold {font-weight: bold !important;}
.italica {font-style: italic !important;}
.underline {text-decoration: underline !important;}
.font-size-sm {font-size: 0.8rem !important;}
.font-size-l {font-size: 1.2rem !important;}
.font-size-xl {font-size: 1.5rem !important;}
.text-decoration-none {text-decoration: none !important;}


/*******************MARGINS & PADDINGS***************/

.padding-0 {padding: 0rem;}
.padding-0-25 {padding: 0.25rem;}
.padding-0-5 {padding: 0.5rem;}
.padding-1 {padding: 1rem;}
.padding-2 {padding: 2rem;}
.padding-top-bottom-0 {
    padding-top: 0;
    padding-bottom: 0;
}
.padding-top-bottom-0-5{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.padding-top-bottom-1{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.padding-top-1 {
    padding-top: 1rem;
}
.padding-left-0-5{
    padding-left: 0.5rem;
}
.padding-right-0-5{
    padding-right: 0.5rem;
}
.padding-left-1 {
    padding-left: 1rem;
}
.padding-bottom-0-5{
    padding-bottom: 0.5rem;
}
.padding-bottom-1{
    padding-bottom: 1rem;
}
.padding-left-right-0-25{
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.margin-0 {margin: 0rem;}
.margin-1 {margin: 1rem;}
.margin-0-5{margin: 0.5rem;}
.margin-0-25{margin: 0.25rem;}

.margin-top-bottom-0 {
    margin-top: 0;
    margin-bottom: 0;
}
.margin-top-bottom-0-5 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.margin-top-bottom-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.margin-top-0 {margin-top: 0rem;}
.margin-top-1 {margin-top: 1rem;}
.margin-bottom-1{margin-bottom: 1rem;}
.margin-right-0-5{margin-right: 0.5rem;}
.margin-right-1{margin-right: 1rem;}
.margin-left-1{margin-left: 1rem;}
.margin-bottom-0-5{margin-bottom: 0.5rem;}



/******************BLOCKS*************************/
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.box-shadow {box-shadow: 1px 1px 2px 2px #7F7F7F;;}

.height-100-vh{
    height: 100vh;
}

.width-100 {
    width: 100%;
}
.width-75 {
    width: 75%;
}
.width-50 {
    width: 50%;
}
.width-fit{
    width: fit-content;
}
.basic-border {border: 1px solid var(--gray-1)}

.border-radius-5 {border-radius: 5px;}

.overflow-hidden{
    overflow: hidden;
}

/**************backgrounds*************************/
.background-color-1 {background-color: var(--color-1) !important;}
.background-color-2 {background-color: var(--color-2) !important;}
.background-color-3 {background-color: var(--color-3) !important;}
.background-color-4 {background-color: var(--color-4) !important;}
.background-color-5 {background-color: var(--color-5) !important;}
.background-color-6 {background-color: var(--color-6) !important;}
.background-color-7 {background-color: var(--color-7) !important;}
.background-color-8 {background-color: var(--color-8) !important;}
.background-color-9 {background-color: var(--color-9) !important;}
.background-color-10 {background-color: var(--color-10) !important;}

.background-contrast-color-1 {background-color: var(--contrast-color-1) !important;}
.background-contrast-color-2 {background-color: var(--contrast-color-2) !important;}
.background-contrast-color-3 {background-color: var(--contrast-color-3) !important;}
.background-contrast-color-4 {background-color: var(--contrast-color-4) !important;}
.background-contrast-color-5 {background-color: var(--contrast-color-5) !important;}
.background-contrast-color-6 {background-color: var(--contrast-color-6) !important;}

.background-gray-1 {background-color: var(--gray-1) !important}
.background-gray-2 {background-color: var(--gray-2) !important}
.background-gray-3 {background-color: var(--gray-3) !important}
.background-gray-4 {background-color: var(--gray-4) !important}
.background-gray-5 {background-color: var(--gray-5) !important}
.background-gray-6 {background-color: var(--gray-6) !important}

.background-white {background-color: white! important;}
.background-red {background-color: red! important;}
.background-salmon {background-color: salmon! important;}
.background-orange {background-color: orange! important;}
.background-pink {background-color: pink! important;}
.background-blue {background-color: blue! important;}
.background-green {background-color: green! important;}

.highlight-on-hover{
    transition: bakground-color, 0.3s;
    &:hover{
        background-color: var(--contrast-color-6);
    }
}
/**************colors*************************/
.color-1 {color: var(--color-1)!important}
.color-2 {color: var(--color-2)!important}
.color-3 {color: var(--color-3)!important}
.color-4 {color: var(--color-4)!important}
.color-5 {color: var(--color-5)!important}
.color-6 {color: var(--color-6)!important}

.contrast-color-1 {color: var(--contrast-color-1)}
.contrast-color-2 {color: var(--contrast-color-2)}
.contrast-color-3 {color: var(--contrast-color-3)}
.contrast-color-4 {color: var(--contrast-color-4)}
.contrast-color-5 {color: var(--contrast-color-5)}
.contrast-color-5 {color: var(--contrast-color-6)}

.gray-color-1 {color: var(--gray-1)}
.gray-color-2 {color: var(--gray-2)}
.gray-color-3 {color: var(--gray-3)}
.gray-color-4 {color: var(--gray-4)}
.gray-color-5 {color: var(--gray-5)}
.gray-color-6 {color: var(--gray-6)}

.color-red {color: red;}
.color-salmon {color: salmon;}
.color-orange {color: orange;}
.color-pink {color: pink;}
.color-blue {color: blue;}
.color-green {color: green;}

/***************before after colors********************/

.befafter-color-1::before, .befafter-color-1::after {color: var(--color-1)}
.befafter-color-2::before, .befafter-color-2::after {color: var(--color-2)}
.befafter-color-3::before, .befafter-color-3::after {color: var(--color-3)}
.befafter-color-4::before, .befafter-color-4::after {color: var(--color-4)}
.befafter-color-5::before, .befafter-color-5::after {color: var(--color-5)}
.befafter-color-5::before, .befafter-color-5::after {color: var(--color-6)}

.befafter-gray-color-1::before, .befafter-gray-color-1::after {color: var(--gray-1)}
.befafter-gray-color-2::before, .befafter-gray-color-2::after {color: var(--gray-2)}
.befafter-gray-color-3::before, .befafter-gray-color-3::after {color: var(--gray-3)}
.befafter-gray-color-4::before, .befafter-gray-color-4::after {color: var(--gray-4)}
.befafter-gray-color-5::before, .befafter-gray-color-5::after {color: var(--gray-5)}
.befafter-gray-color-6::before, .befafter-gray-color-6::after {color: var(--gray-6)}

/**************border colors*************************/
.border-color-1 {border-color: var(--color-1)}
.border-color-2 {border-color: var(--color-2)}
.border-color-3 {border-color: var(--color-3)}
.border-color-4 {border-color: var(--color-4)}
.border-color-5 {border-color: var(--color-5)}
.border-color-5 {border-color: var(--color-6)}

.border-contrast-color-1 {border-color: var(--contrast-color-1)}
.border-contrast-color-2 {border-color: var(--contrast-color-2)}
.border-contrast-color-3 {border-color: var(--contrast-color-3)}
.border-contrast-color-4 {border-color: var(--contrast-color-4)}
.border-contrast-color-5 {border-color: var(--contrast-color-5)}
.border-contrast-color-5 {border-color: var(--contrast-color-6)}

.border-gray-color-1 {border-color: var(--gray-1)}
.border-gray-color-2 {border-color: var(--gray-2)}
.border-gray-color-3 {border-color: var(--gray-3)}
.border-gray-color-4 {border-color: var(--gray-4)}
.border-gray-color-5 {border-color: var(--gray-5)}
.border-gray-color-6 {border-color: var(--gray-6)}

.border-color-red {border-color: red;}
.border-color-salmon {border-color: salmon;}
.border-color-orange {border-color: orange;}
.border-color-pink {border-color: pink;}
.border-color-blue {border-color: blue;}
.border-color-green {border-color: green;}



/******************* FX - Animations *****************/

/* scale-on-focus-n class*/
.scale-on-focus-1050:hover {transform: scale(1.050, 1.050);}
.scale-on-focus-1075:hover {transform: scale(1.075, 1.075);}
.scale-on-focus-1100:hover {transform: scale(1.1, 1.1);}
.scale-on-focus-1125:hover {transform: scale(1.125, 1.125);}
.scale-on-focus-1150:hover {transform: scale(1.15, 1.15);}
[class*=" scale-on-focus-"], [class^="scale-on-focus-"] { 
    transform: scale(1, 1);
    transition-property: transform;
    transition-duration: 200ms;
    transition-delay: 40ms;
    transform-origin: center;
}
[class*=" scale-on-focus-"]:hover, [class^="scale-on-focus-"]:hover { 
    z-index: 1;
}


/****************** TABLES ***********************/

.flex-table{ /*Each row is displayed according to the flexbox model*/
    width: 100%;
    table-layout: fixed;
    & tr{
        display: flex;
        flex-flow: row nowrap;
        
        &>*{
            padding: 0.25rem;
        }
        & td, th{
            border-color: var(--gray-1);
            flex-grow: 1;
            flex-shrink: 0;
            overflow-x: auto;
        }
        & th{
            font-weight: bold;
        }
        & td{
            border-top: none;
        }
        & td:not(:first-child), th:not(:first-child){
            border-left: none;
        }
    }
}

/******************* FORM TUNNING ****************/

input[type="text"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="password"],
input[type="number"],
input[type="date"],
input[list],
textarea,
select{
    &.mb{
        font-size: 1rem;
        line-height: 2rem
    }
    &.border-bottom{
        border-style: hidden hidden solid hidden;

        &:focus{
            border-color: var(--color-1);
            border-width: 2px;
        }
    }
}



input[type="checkbox"].checkbox-switch {
    --size: 1.5rem;
    --active-bg-color: var(--contrast-color-3);
    --border-width: calc(var(--size) / 16);
    --border-color: gray;
    --inactive-bg-color: white;
    --color: #333;
    visibility: hidden;
    position: relative;
    width: calc(var(--size) * 2);
    &:checked{
        &::before{
            background-color: var(--active-bg-color);
        }
        &::after {
            /*translate: var(--size);*/
            transform: translateX(var(--size));
        }
    }
    &::before{
        visibility: visible;
        content: "";
        display: block;
        width: calc(var(--size) * 2);
        height: var(--size);
        border: solid var(--border-width) var(--border-color);
        border-radius: var(--size);
        transition: background-color 0.2s;
        background-color: var(--inactive-bg-color);
    }
    &::after{
        visibility: visible;
        content: "";
        display: block;
        position: absolute;
        top: calc(calc(var(--size) * 0.1) + var(--border-width) );
        left: calc(calc(var(--size) * 0.1) + var(--border-width));
        height: calc(var(--size) * 0.8);
        width: calc(var(--size) * 0.8);
        background-color: black;
        border-radius: 50%;
        transition: transform 0.2s;
        background-color: var(--color);
    }
}

/******************* OTHER RESOURCES *****************/


/* use like this: <noscript class="noscript"></noscript> at the start of the <body>*/
noscript.noscript::before {
    content: var(--javascript-message, "WARNING!!!! \A Javascript is needed \A The website could'nt work fine if JavaScript is not active");
    white-space: pre;
    border: 1px solid red;
    background-color: red;
    background-image: url('../media/img/alert_img.png');
    background-size: 100px 100px;
    background-position: 50% 90%;
    background-repeat: no-repeat;
    width: 400px;
    height:200px;
    margin: auto;
    display: block;
    text-align: center;
}


input[type="number"].no-spin{
    -moz-appearance: textfield;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

/********** Navigation *********************/

/** Use like this: nav.nav-subcats>ol>(li>a{Category $})*3 */
.nav-subcats{ 
    &>ol {
        display: flex;
        &>li>a{
            background-color: var(--gray-2);
            color: var(--gray-5);
            padding: 0.3em 1em;
            margin-right: -0.8em;
            text-decoration: none;
            display: block;
            transition: all 0.4s 0.1s;
            &:hover {
                background-color: var(--color-2);
                color: var(--gray-1);
            }
        }
        &>li:first-child>a{
                clip-path: polygon(0% 0%, calc(100% - 1em) 0%, 100% 50%, calc(100% - 1em) 100%, 0% 100%);
                padding-left: 0.8em;
            }
        &>li:not(first-child)>a{
            clip-path: polygon(0% 0%, calc(100% - 1em) 0%, 100% 50%, calc(100% - 1em) 100%, 0% 100%, calc(0% + 1em) 50%);
            padding-left: 1.5em;
        }
        &>li:last-child>a{
            background-color: var(--color-2);
            color: var(--gray-1);
        }
    }
}


/********** OPTIONS ************/




.section-options{
    margin-top: 1rem;
    background-color: var(--gray-1);
    border-radius: 5px;
    width: fit-content;

    & > ul{
        display: flex;
        flex-flow: row wrap;
        overflow: auto;
        justify-content: center;
        & > * {
            flex-shrink: 0;
        }
    }
}

select.open-list{
    background-color: white;
    &:focus, &:active {
        background-color: white ;
    }
    & option {
        padding: 0.25rem;
        transition: 0.1s  background-color;
        &:hover{
            background-color: var(--gray-1);
        }
    }
}


/************************ GUI COMPONENTS *******************************/

.icon-text-little{
    font-size: 0.8rem;
    background-color: var(--contrast-color-6);
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    margin: 0 0.5rem 0.5rem 0;
    &::before{
        margin-right: 0.4rem;
        content: attr(data-icon);
        font-family: bootstrap-icons;
        line-height: 1;
        vertical-align:-0.125em;
    }
}

/************************ BASE PAGE ************************************/
/* Menu and header */

header {
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0px 2px 8px var(--gray-3);
    &>.header-container{

        --button-colors: var(--almost-white);
        background-color: var(--color-1);
        
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start; 
        justify-content: space-between;
        align-items: center;
        position: relative;
    
    
        &>.menu-toggle{
            --size: 41px; /*Change it to change the whole components of the button*/
            position: relative;
            border: 0;
            width: var(--size);
            height: var(--size);
            
            &>.hamburger{
                position: absolute;
                left: calc(calc(var(--size) - var(--length)) / 2);
            }        
            &>.hamburger,
            &>.hamburger::before,
            &>.hamburger::after{
                --length: calc(var(--size) * 0.6);
                --height: 3px;
                content: "";
                display: block;
                background: var(--button-colors);
                height: var(--height);
                width: var(--length);
                border-radius: var(--height);
                transition: all ease-in-out 500ms;
            }
    
            &>.hamburger::before {
                transform: translateY(calc(var(--length) / -3));
            }
            
            &>.hamburger::after {
                --offset: calc(var(--height) * -1);
                /*transform: translateY(var(--offset));*/
                transform: translateY(calc(var(--offset) + calc(var(--length)) / 3));
            }
    
            &.expanded>.hamburger {
                transform: rotate(45deg);
    
                &::before{
                    opacity: 0;
                }
    
                &::after{
                    transform: translateY(-3px) rotate(-90deg);
                }
            }
        }
        
        
        &>.logo{
            margin: 0.5rem;
            color: var(--gray-1);
    
        }
    
        & a::before{
            color: var(--button-colors);
        }
    }

}




#main-content{
    padding: 1rem;
    transition: margin 0.5s;
}


@media only screen and (min-width: 768px) {
    #main-content{
        margin-left: 3rem;
        margin-right: 3rem;
    }
}


#main-menu{
    --size: 1.5rem;
    position: fixed;
    z-index: 10;
    width: 0;
    overflow: hidden;
    transition: width 0.5s;
    box-shadow: 2px -0px 8px var(--gray-3);
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    background-color: var(--almost-white);


    & .option-menu{

        flex-shrink: 0;
        white-space: nowrap;
        margin: 0;
        display: block;
        font: var(--body-font);
        font-size: calc(var(--size) / 1.5);
        position: relative;
        padding: calc(var(--size) * 0.5) calc(var(--size) * 5) calc(var(--size) * 0.5) calc(var(--size) * 2);
        text-decoration: none;
        color: var(--color-4);
        background-color: var(--contrast-color-6);
        cursor: pointer;
        &:hover{
            background-color: var(--contrast-color-5);
        }
        &:active,
        &.active{
            background-color: var(--contrast-color-4);
        }
        &::before{
            position: absolute;
            top: calc(var(--size) / 2);
            left: calc(var(--size) * 0.5);
            text-align: center;
            content: attr(data-icon);
            display: inline-block;
            font-family: bootstrap-icons;
            font-size: var(--size);
        }
    }
}


@media only screen and (min-width: 768px) {
    #main-menu {
        width: calc(var(--size) * 2);
        
    }
}

footer {
    z-index: 10;
    box-shadow: 0px -2px 8px var(--gray-3);
}