& .NoteCard{
    padding: 0.5rem;
    border-bottom: 2px solid var(--color-10);
    transition: all 0.3s;
    background-color: white;
    & * {
        transition: all 0.3s;

    }
    &:hover{

        background-color: var(--color-1);
        >a>*{
            color: white;
        }
        & :global(.tags-list li) {
            background-color: white;
            color: var(--color-1);
        }

    }
    &:first-child{
        margin-top: 0.5rem;
        border-top: 2px solid var(--color-10);
    }
}